@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.movie-card{
    display: inline-flex;
    height: 400px;
    width: 250px;
    margin: 5px;
    cursor: zoom-in;
}

.card {
  border-radius: 0px 20px 0px 0px;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  height: 400px;
  width: 250px;
}

.card .poster {
  position: relative;
  overflow: hidden;
}

.card .poster:before {
  content: "";
  position: absolute ;
  bottom: -190px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster:before {
  bottom: 0;
}

.card .poster img {
  width: 100%;
  transition: 0.5s;
}

.card:hover .poster img {
  filter: blur(2px);
  transform: translateY(-30px);
}

.details{
  position: absolute;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 74%;
  bottom: -300px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.details h2 span {
  font-size: 14px;
  color: #ff9800;
}

.rating {
  position: relative;
  padding: 5px, 0;
}

.rating .fa {
  color: #f7f406;
  margin-right: 2px;
  font-size: 16px;
}

.rating span {
  color: #fff;
  padding: 0 5px;
}

.tags {
  position: relative;
  margin-top: 5px;
}

.tags span {
  padding: 2px 5px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.genre:nth-child(2n) {
  background: orange;
  font-size: 12px;
}

.tags span.genre:nth-child(2n+1) {
    background: blue;
    font-size: 12px;
  }

  .tags span.genre:nth-child(3n) {
    background: red;
    font-size: 12px;
  }

.info{
  color: #fff;
}

.release-date {
    color: #fff;
}

.info p {
  margin: 15px, 0, 10px;
}

.star {
  position: relative;
}

.star h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f7f406
}

.star ul {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
}

.star ul li {
  list-style: none;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  border: 2px solid #fff;
}

.star ul li img {
  width: 100%;
}
