.actor-card {
    display: inline-flex;
    background-color: transparent;
    width: 100px;
    height: 145px;
    /* border: 1px solid #f1f1f1; */
    margin: 5px;
  }
  
  .actor-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .actor-card-front img {
      width: 100%;
      height: 100%
  }
  
  .actor-card:hover .actor-card-inner {
    transform: rotateY(180deg);
  }
  
  .actor-card-front, .actor-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .actor-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .actor-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    font-size: 9px;
  }