.main-container {
  display: inline-flex;
  background-color: black;
  height: 100%;
  margin-left: 160px;
}

.navbar {
  background-color: white;
  height: 100px;
}

.navbar-movie-container {
  display: grid;
  grid-template-rows: 1 fr 9fr
}
